# SPDX-FileCopyrightText: © 2024 Clifford Weinmann <https://www.cliffordweinmann.com/>
#
# SPDX-License-Identifier: MIT-0

*.swp
*.bak
*.log
.vscode
.DS_Store
.bash_history
.vscode
.lesshst
deploy/k8s-homelab-*.yaml
