# SPDX-FileCopyrightText: © 2026 Clifford Weinmann <https://www.cliffordweinmann.com/>
# SPDX-License-Identifier: MIT-0
#
# haproxy configuration for use with podman-compose / docker compose

global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Embedded Docker/Podman DNS Resolver
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry   1s
    hold valid      2s

# HAProxy Live Dashboard
listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
    # Optional authentication:
    # stats auth admin:password

frontend http_front
    bind *:8080
    default_backend demo_app_back

backend demo_app_back
    balance roundrobin
    # server-template app- 10 app:8080 check resolvers docker_dns init-addr libc,none resolve-prefer ipv4
    server app-1 app-1:8080 check
    server app-2 app-2:8080 check
    server app-3 app-3:8080 check
    server app-4 app-4:8080 check
